body {
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

.container-wrapper {
    background-color: #ec9819;
    color: white;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #faf8f5;
    text-align: center;
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #ec9819;
    border-color: #ec9819;
}

.callout-container {
    height: 100vh;
    background: url("../images/whiskey-2171646_1920.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Page headers */

.page-header {
    margin-bottom: 20px;
    margin-top: 10px;
    border-bottom: 15px;
    text-align: center;
}

.page-header h2 {
    margin-top: 15px;
}

/* Content containers */

.content-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0;
}

.navbar-light .navbar-text {
    color: rgb(8 0 0 / 99%);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #f5eeef;
}

.jumbotron small {
    font-size: 75%;
    font-style: italic;
    color: white;
}

/* Buttons */

.btn_cta {
    font-weight: bold;
    border-radius: 25px;
    width: 150px;
    color: white;
    background-color: rgb(221, 89, 13);
    border-color: rgb(221, 89, 13);
}

.btn_cta:hover, .btn_cta:active, .btn_cta:focus, .btn_cta:active:focus {
    background-color: rgb(153, 56, 0);
    border-color: rgb(153, 56, 0);
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: rgb(221, 89, 13);
    border-color: rgb(221, 89, 13);
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

/* Monthly Favorites */

.monthlyfav-container {
    margin-bottom: 40px;
}

.monthlyfav-container h2 {
    text-align: center;
}